<div class="scroll">
  <div ion-row>
    <div ion-col size="12">
      <div ion-item>
        <div ion-icon slot="start" class="water" name="water-outline"></div>
        <div ion-icon slot="end" class="earth" name="earth-outline"></div>
        <p>
          Humedad de la tierra (HT %)
        </p>
      </div>
    </div>
    <div ion-col size="12" hidden>
      <div ion-item>
        <div ion-icon slot="start" class="water" name="water-outline"></div>
        <div ion-icon slot="end" class="green" name="leaf-outline"></div>
        <p>
          Humedad del ambiente (HA %)
        </p>
      </div>
    </div>
    <div ion-col size="12">
      <div ion-item>
        <div ion-icon slot="start" class="red" name="thermometer-outline"></div>
        <p>
          Temperatura del ambiente (TA °C)
        </p>
      </div>
    </div>
    <div ion-col size="12" hidden>
      <div ion-item>
        <div ion-icon slot="start" class="sun" name="sunny-outline"></div>
        <p>
          Luz del ambiente (LA %)
        </p>
      </div>
    </div>
    <div ion-col size="12">
      <div ion-item>
        <div ion-icon slot="start" class="press" name="cloud-outline"></div>
        <div ion-icon slot="end" class="press" name="swap-vertical-outline"></div>
        <p>
          Presión ambiente (PA PSI)
        </p>
      </div>
    </div>
  </div>
</div>
