<div class="scroll">
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-icon slot="start" class="water" name="water-outline"></ion-icon>
        <ion-icon slot="end" class="earth" name="earth-outline"></ion-icon>
        <p>
          Humedad de la tierra (HT %)
        </p>
      </ion-item>
    </ion-col>
    <ion-col size="12" hidden>
      <ion-item>
        <ion-icon slot="start" class="water" name="water-outline"></ion-icon>
        <ion-icon slot="end" class="green" name="leaf-outline"></ion-icon>
        <p>
          Humedad del ambiente (HA %)
        </p>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-icon slot="start" class="red" name="thermometer-outline"></ion-icon>
        <p>
          Temperatura del ambiente (TA °C)
        </p>
      </ion-item>
    </ion-col>
    <ion-col size="12" hidden>
      <ion-item>
        <ion-icon slot="start" class="sun" name="sunny-outline"></ion-icon>
        <p>
          Luz del ambiente (LA %)
        </p>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-icon slot="start" class="press" name="cloud-outline"></ion-icon>
        <ion-icon slot="end" class="press" name="swap-vertical-outline"></ion-icon>
        <p>
          Presión ambiente (PA PSI)
        </p>
      </ion-item>
    </ion-col>

  </ion-row>
</div>
