@import url("../app.component.scss");

.back {
    overflow: hidden;
    background-attachment: fixed;
    background-image: url("../../assets/backs/bg_splash_screen.png");
    height: 87vh;
}

.form {
    transform: translate(-50%, -100%);
}

.icon {
    position: relative;
    color: blue;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inactive {
    color: gray;
}
